Practica-1/xml_pruebas/esquema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/esquema" xmlns="http://www.example.org/esquema"

	elementFormDefault="unqualified">
	<!-- si ponemos qualified obliga a que todas las etiquetas esten calificadas -->
	<!-- pero si ponemos unqualified significa que tenemos que calificar solamente la raiz. Por tanto, no se puede utilizar la calificación por defecto -->
	
	<xs:element name="persona">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="nombre" type="xs:string" />
				<xs:element name="apellidos" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>