Practica-3/xml/poema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="acta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="titulo" type="xs:string"/>
        <xs:element name="verso" type="xs:string" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="fecha" type="xs:string" use="required"/>
      <xs:attribute name="lugar" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

